@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
.hero, .img-25,
.img-33 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0; }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

/*HEADER */
header {
  background-color: #313234;
  height: 100%; }
  header ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  header li {
    display: inline-block; }
  header a {
    display: block;
    line-height: 60px;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase; }
    header a a:hover {
      background-color: #ccc; }
  header img {
    padding: 10px 0; }

/*WELCOME SECTION-jumbotron */
.hero {
  width: 100%;
  height: 450px;
  background: url(https://cdn.pixabay.com/photo/2015/12/06/20/43/photographer-1080028__340.jpg);
  display: inline-block; }

.slogan {
  color: #fff;
  background: rgba(191, 125, 64, 0.5);
  float: right;
  max-width: 800px;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 10px;
  transform: translate(0, -50%);
  text-align: center; }
  .slogan h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100; }
    .slogan h1 h1:nth-child(2) {
      font-weight: 900;
      font-size: 28px; }

/*grid */
[class*='col-'] {
  width: 100%;
  float: left;
  padding: 12px;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

/*BENEFITS */
.benefits .container {
  margin: 80px auto;
  width: 100%;
  cursor: pointer; }

.icon-btn {
  width: 120px;
  height: 120px;
  background-color: #DEB887;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  border-radius: 15%;
  text-align: center;
  margin: 0 auto; }

.icon-btn i.fa {
  font-size: 100px;
  margin-top: 10px; }

.row h4, .row p {
  text-align: center;
  margin: 0 auto; }

.row h4 {
  text-transform: uppercase;
  padding: 20px 0 10px 0; }

.icon:hover .icon-btn {
  transform: scale(1.1);
  content: "";
  background-color: #336699;
  color: #white; }
.icon:hover h4 {
  color: #336699; }

/*text and header under icons */
.text {
  text-align: center;
  margin: 100px 300px; }
  .text h2 {
    text-transform: uppercase;
    font-size: 40px; }

/*GALLERY */
.gallery [class^="col-"] {
  position: relative; }

.camera {
  background-image: url(https://cdn.pixabay.com/photo/2017/02/14/18/28/fruhjahrsputz-2066605_960_720.jpg); }

.dog {
  background-image: url(https://cdn.pixabay.com/photo/2015/01/10/12/24/dog-595163_960_720.jpg); }

.cat {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/02/23/45/cat-1793139_960_720.jpg); }

.doll {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/02/22/11/doll-1792846_960_720.jpg); }

.img-25 {
  max-width: 25%; }

.img-33 {
  max-width: 33.33%; }

.img-25,
.img-33 {
  height: 200px;
  padding: 0;
  cursor: pointer; }

.layer {
  text-align: center;
  padding: 85px 0; }
  .layer .fa-gall {
    height: 30px;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    border-radius: 15%;
    visibility: hidden; }
  .layer:hover {
    background: rgba(0, 0, 0, 0.5); }

.img-25:hover i.fa-gall,
.img-33:hover i.fa-gall {
  visibility: visible; }

.fa-download:hover,
.fa-print:hover {
  color: #5f9ea0;
  background-color: #DEB887; }

/*team */
.team [class^="col-"] {
  padding: 0; }
.team .container {
  margin: 80px auto; }
.team .circle {
  width: 220px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  cursor: pointer; }
  .team .circle .circle-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 190px;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
    visibility: hidden; }
    .team .circle .circle-layer:hover {
      background: rgba(0, 0, 0, 0.5);
      visibility: visible;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
.team:hover h3 {
  visibility: visible; }
.team img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; }
.team h2 {
  text-align: center;
  color: #000; }

/*PICTURE */
.with-picture {
  width: 100%;
  height: 100%;
  background-color: #DEB887;
  text-align: left;
  color: #fff; }
  .with-picture [class*="col-"] {
    padding: 0;
    text-align: left; }
  .with-picture img {
    float: left;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    object-fit: cover; }
  .with-picture h2 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    padding: 10px; }
  .with-picture p {
    text-align: left;
    padding: 20px; }

/*numbers */
.numbers {
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif; }
  .numbers [class*="col-"] {
    padding: 0; }
  .numbers .container {
    margin: 60px auto; }
  .numbers h3 {
    font-size: 70px;
    font-weight: 800;
    margin: 0; }
  .numbers h4 {
    font-size: 15px;
    font-weight: 800;
    color: #336699;
    padding: 0; }

/*contact */
.contact {
  float: left;
  background-color: #313234;
  color: #fff;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif; }
  .contact [class*="col-"] {
    padding: 0; }
  .contact h3 {
    text-transform: uppercase;
    font-size: 25px;
    padding: 15px 20px;
    margin: 0;
    text-align: left;
    padding: 30px 0; }
  .contact p {
    text-align: left;
    margin-top: 15px; }
  .contact .social i {
    text-align: center;
    height: 40px;
    width: 40px;
    cursor: pointer; }
    .contact .social i .fa {
      color: #fff;
      margin: 10px;
      background-color: #336699;
      width: 35px;
      height: 35px;
      float: left; }
  .contact i.fa {
    line-height: 35px; }
    .contact i.fa:hover {
      background-color: #fff;
      color: #336699; }
  .contact h3::after {
    content: "";
    width: 100px;
    height: 2px;
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    background-image: linear-gradient(to right, #313234 10%, #fff 15%, #fff 70%, #313234); }

/*footer */
footer {
  max-width: 100%;
  max-height: 100%;
  background-color: #DEB887;
  text-align: center;
  font-size: 20px;
  line-height: 60px; }
  footer p {
    margin: 0; }

/* For tablets: */
@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
/* For desktop: */
@media (min-width: 768px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media (max-width: 767px) {
  header {
    text-align: center; }
    header ul {
      float: none; }
    header li {
      display: block; }
    header img {
      display: inline-block; }

  .slogan {
    float: none; }

  .text {
    margin: 0; }

  .img-25,
  .img-33 {
    max-width: 100%; }

  i.fa-gall {
    visibility: visible;
    color: #DEB887; }

  .circle-layer {
    visibility: visible; }

  .old-computer {
    margin-left: 25%; }

  .quote h2 {
    text-align: center; }

  .contact {
    float: none;
    margin: 0 auto; }
    .contact .col-4 {
      padding: 0 20px; }
    .contact h3 {
      text-align: center; }
      .contact h3 h3::after {
        visibility: hidden; } }
@media screen and (min-width: 768px) {
  .img-25:hover,
  .img-33:hover {
    visibility: visible;
    color: #DEB887; }

  .layer:hover {
    background: rgba(0, 0, 0, 0.5); }

  .fa-download:hover,
  .fa-print:hover {
    color: #5f9ea0; }

  .circle:hover h3 {
    visibility: visible; }

  .circle-layer:hover {
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; } }

/*# sourceMappingURL=style.css.map */
